[submodule "gtirb-capstone"]
	path = gtirb-capstone
	url = https://github.com/pwnslinger/gtirb-capstone.git
	branch = wip/gtirb-rewriter
[submodule "gtirb-functions"]
	path = gtirb-functions
	url = https://github.com/GrammaTech/gtirb-functions.git
	branch = master
