[submodule "gtirb-capstone"]
	path = gtirb-capstone
	url = https://github.com/pwnslinger/gtirb-capstone.git
	branch = wip/gtirb-rewriter
[submodule "gtirb-functions"]
	path = gtirb-functions
	url = https://github.com/GrammaTech/gtirb-functions.git
	branch = master
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone.git
	branch = master
[submodule "keystone"]
	path = keystone
	url = https://github.com/keystone-engine/keystone.git
	branch = master
[submodule "gtirb-pprinter"]
	path = gtirb-pprinter
	url = https://github.com/GrammaTech/gtirb-pprinter.git
	branch = master
